.album-grid {

    &-wrapper {
        margin-left: -10px;
        margin-right: -10px;
        @include justify-content(flex-start);
    }

    padding: 10px;
    width: 48.5%;

    @media (min-width: $screen-sm-min) {
        width: 220px;
    }

    &-image {
        &-wrapper {
            display: block;
            margin-bottom: 10px;
        }
        width: 100%;
    }

    &-title {
        margin-top: 0;
        margin-bottom: 6px;
    	font-weight: bold;
    	font-size: 18px;
    }

    &-subtitle {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 11px;
        text-transform: uppercase;
    }
}