$band-header-height: 200px;
$album-header-height: 250px;

.header {
    @include display-flex();
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $midnight;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 60px;
        min-height: 100px;
    }

    .flexy {
        width: 100%;
        @include align_items(center);
        @include justify-content(flex-start);
        @include flex-direction(column);
        @media (min-width: $screen-sm-min) {
            @include flex-direction(row);
            @include align_items(flex-start);
        }
    }

    .container {
        position: relative;
    }
}

.band-header {
    @media (min-width: $screen-sm-min) {
        height: $band-header-height;
    }
}

.album-header {
    @media (min-width: $screen-sm-min) {
        height: $album-header-height;
    }
}

.header-background {
    position: absolute;
    min-height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center 20%;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(45deg, rgba(50, 50, 84, 0.82) 0%, rgba(71, 39, 58, 0.92) 100%);
        background-position: top;
    }

    .band-header & {
        min-height: $band-header-height;
    }

    .album-header & {
        min-height: $album-header-height;
    }
}

.header-avatar {
    margin: 36px auto 0;
    @media (min-width: $screen-sm-min) {
        margin-top: 36px;
        margin-right: 36px;
    }
    &-wrapper {

        overflow: hidden;
        @include display-flex();
        @include align_items(center);
        @include justify-content(center);

        img {
            .band-header & {
                max-height: $band-header-height;
            }

            .album-header & {
                max-height: $album-header-height;
            }
        }

        .band-header & {
            height: $band-header-height;
            width: $band-header-height;
            border-radius: 100%;
        }

        .album-header & {
            height: $album-header-height;
            width: $album-header-height;
            border-radius: 2px;
        }
    }
}

.header-content {
    width: 100%;
    margin: 36px 0;
}

.header-title-wrapper {
    @include display-flex();
    @include align-items(center);
}

.header-title {
    margin: 0;
    font-weight: bold;
    color: $white;
    a {
        color: $white;
    }
}

.header-subtitle {
    margin: 0;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 10px;

    a {
        color: $white;
    }
}

.header-label {
    display: block;
    margin-left: 10px;
    padding: .3em .6em .3em;
    background-color: $lightgrey;
    &-active {
        background-color: $green;
    }
}

.header-metadata {
    margin-top: 14px;
    ul {
        list-style: none;
        @include display-flex();
        @include flex-direction(column);
        margin-left: 0;
        @media (min-width: $screen-sm-min) {
            @include flex-direction(row);
        }
        li {

            @media (min-width: $screen-sm-min) {
                float: left;
                max-width: 25%;
                margin-right: 24px;
            }

            h4 {
                color: transparentize($white, 0.4);
                text-transform: uppercase;
                font-size: 11px;
                margin: 0;
                @media (min-width: $screen-sm-min) {
                    margin: 10px 0;
                }
            }

            p {
                color: $white;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}