.review {
    padding: 16px 0;
    border-bottom: 1px solid $lightestgrey;

    &-title {
        font-weight: bold;
        margin: 0;
    }

    &-author {
        color: $lightgrey;
        margin: 0;
        margin-bottom: 6px;
        font-size: 13px;
        a {
            color: $lightgrey;
            font-weight: 600;
        }
    }

    &-score {
        display: table-cell;
        width: 60px;
        vertical-align: top;
        &-points {
            font-size: 18px;
            font-weight: bold;
        }
    }

    &-content {
        display: table-cell;
    }

    &-body {
        height: 100px;
        overflow: hidden;
        margin: 16px 0;
        position: relative;
        &:before {
            content:'';
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            background:linear-gradient(transparent 20px, white);
        }
        &--is-open {
            height: auto;
        }
    }

}