.review {
    padding: 36px 0;
    border-bottom: 1px solid $lightestgrey;

    &-title {
        font-weight: bold;
    }

    &-author {
        color: $lightgrey;
    }
}

.review-wrapper {

    @include display_flex();
    @include align-items(center);

    @media (min-width: $screen-sm-min) {
        text-align: left;
        margin-top: 0;
    }

    .review-score {
        margin: 0;
        margin-right: 6px;
        display: inline-block;
        padding: .2em .6em .3em;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }
    }

    .review-count {
        white-space: nowrap;
        .header & {
            margin-top: 5px;
            @media (min-width: $screen-sm-min) {
                margin-top: 0;
                margin-left: 5px;
            }
            color: transparentize($white, 0.4);
        }
    }
}

$review-color: #58E014;
$review-color: $green;
@for $i from 0 through 10 {
    $score: $i*10;
    $review-color: change-color($review-color, $hue: $score);

    .review-score-#{$score} {
        background-color: $review-color;
    }
}