.navbar {

    border: 0;
    margin-bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100%;

    &-brand {
        color: $white;
        font-weight: bold;
        font-size: 21px;
        letter-spacing: -.5px;
        @media (max-width: $screen-sm-min) {
            padding-left: 0;
            padding-right: 0;
        }
        &:hover {
            color: $white;
        }
    }

    &-form {
        border: 0;
        box-shadow: none;
        @media (max-width: $screen-sm-min) {
            margin: 0;
            flex: 1;
            padding-right: 0;
        }

        .form-control {
            border: 0;
            font-size: 14px;
            @media (min-width: $screen-sm-min) {
                width: 280px;
            }
        }
    }
}