.navbar {

    border: 0;
    margin-bottom: 0;

    &-brand {
        color: $white;
        font-weight: bold;
        font-size: 21px;
        letter-spacing: -.5px;
        @media (max-width: $screen-sm-min) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &-form {
        border: 0;
        box-shadow: none;
        @media (max-width: $screen-sm-min) {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            flex: 1;
        }

        .form-control {
            border: 0;
            @media (min-width: $screen-sm-min) {
                width: 280px;
            }
        }
    }
}